.container {
    padding: 2% 0%;
    max-width: 400px;
}

.mat-container {
    padding: 2em 3em;
    background: white;
}

.full-width {
    width: 100%;
}

.resetBtn {
    background: var(--theme-color);
    border-color: var(--theme-color);
    color: #fff;
    padding: 5px 10px;
    border-radius: 2px;
}

@media(max-width:767px) {
    .containerWidth {
        margin: 14px;
    }
    .container {
        padding: 0%;
    }
    .mat-container {
        padding: 2em;
    }
}