<div class="containerWidth">
    <div class="container myreset">
        <mat-card class="mat-elevation-z8 mat-container">

            <p>Please enter your email address to reset password of account</p>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label> Email-ID </mat-label>
                <input matInput placeholder="Your e-mail id" type="text" [(ngModel)]="emailId" name="EmailId" ngModel>
            </mat-form-field>

            <div style="display: flex; justify-content: center;">
                <button class="btn resetBtn" (click)="resetPassword()"> Reset Password </button>
            </div>

            <flash-messages></flash-messages>

        </mat-card>
    </div>
</div>