<style>
    img {
        object-fit: cover;
    }
    
     ::ng-deep .mat-radio-label-content {
        font-weight: 400 !important;
    }
    /* new size style  */
    
    .rPoo01 ._37KLG6._3K7Qff {
        margin-top: 12px;
    }
    
    .rPoo01 ._37KLG6._3K7Qff {
        margin-top: 12px;
    }
    
    ._2a2WU_ {
        margin-top: 16px;
        display: flex;
        align-items: center;
        justify-content: sp;
    }
    
    .rPoo01 ._1lwQLq._3K7Qff {
        margin-top: 8px;
    }
    
    ._1lwQLq {
        font-size: 14px;
        margin-top: 2px;
        font-weight: 500;
        color: #878787;
        width: 70px;
        /* min-width: 110px; */
        padding-right: 10px;
        position: relative;
    }
    
    .fUBI-_ {
        display: flex;
        flex-wrap: wrap;
    }
    
    .fUBI-_ ._3hSwtk._2UBURg {
        margin: 0 10px 0 0;
        cursor: pointer;
        padding-top: 8px;
    }
    
    .fUBI-_ ._3hSwtk {
        display: inline-flex;
        position: relative;
    }
    
    li {
        list-style: none;
    }
    
    .fUBI-_ ._3hSwtk ._1TJldG._2I_hq9,
    .fUBI-_ ._3hSwtk ._2VtE5i._2I_hq9 {
        font-size: 14px;
        font-weight: bold;
    }
    
    .fUBI-_ ._3hSwtk ._1TJldG._2UBURg {
        /* border: 2px dashed #c2c2c2; */
        min-width: 34px;
        height: 30px;
        border-radius: 30px;
        font-size: 13px;
        color: #000;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .13);
    }
    
    .fUBI-_ ._3hSwtk ._1TJldG._1wX7_H {
        min-width: 34px;
        /* border: 2px solid #c2c2c2; */
        color: #000;
        ;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .13);
    }
    
    .selectedVariant {
        min-width: 46px;
        /* border: 2px solid #000 !important; */
        color: #ff1744 !important;
    }
    
    .fUBI-_ ._3hSwtk ._1TJldG {
        padding: 6px 5px;
        border-radius: 30px;
        position: relative;
    }
    
    .fUBI-_ ._3hSwtk ._1TJldG,
    .fUBI-_ ._3hSwtk ._2VtE5i {
        background: #fff;
        font-weight: 500;
        text-align: center;
    }
    
    ._3gDSOa._2RN9ef ._35Y7Yo {
        fill: #000;
        opacity: .2;
        stroke: transparent;
    }
    
    ._35Y7Yo {
        fill: #c2c2cc;
    }
    /* image carousel style  */
    
    #zoom_05 {
        width: 100%;
        height: 300px;
    }
    
    @media(max-width:1124px) {
        .mycarousel {
            margin-top: 2% !important;
        }
    }
    
    .carousel-inner {
        position: relative;
        width: 100%;
        min-height: 300px;
    }
    
    .carousel-control.right {
        right: 0;
        left: auto;
        background-image: none !important;
        background-repeat: repeat-x;
    }
    
    .carousel-control.left {
        left: 0;
        right: auto;
        background-image: none !important;
        background-repeat: repeat-x;
    }
    
    #carousel-example-generic {
        margin: 20px auto;
        width: 100%;
    }
    
    #carousel-custom {
        margin: 40px;
        width: 485px;
        margin-top: -2px;
    }
    
    #carousel-custom .carousel-indicators {
        margin: 22px 0 0;
        overflow: auto;
        position: static;
        /* text-align: left; */
        text-align: -webkit-center;
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
    }
    
    #carousel-custom .carousel-indicators li {
        background-color: transparent;
        -webkit-border-radius: 0;
        border-radius: 0;
        display: inline-block;
        height: auto;
        margin: 0 !important;
        width: auto;
    }
    
    #carousel-custom .carousel-indicators li img {
        display: block;
        opacity: 0.5;
    }
    
    #carousel-custom .carousel-indicators li.active img {
        opacity: 1;
    }
    
    #carousel-custom .carousel-indicators li:hover img {
        opacity: 0.75;
    }
    
    #carousel-custom .carousel-outer {
        position: relative;
    }
    
    .carousel-indicators li img {
        height: 66px;
        width: 52px;
        padding: 2px;
    }
    /* //image carousel style  */
    
    .float-right {
        float: right;
    }
    
    .float-left {
        float: left;
    }
    
    @media only screen and (min-device-width: 768px) and (max-device-width: 1020px) and (orientation: portrait) {
        .des {
            margin-left: 0%;
            margin-right: 0%;
        }
        ._37KLG6 {
            margin-left: 0%;
            margin-right: 0%;
        }
    }
    
    @media only screen and (max-device-width: 600px) {
        .des {
            margin-left: 0%;
            margin-right: 0%;
        }
        ._37KLG6 {
            margin-left: 0%;
            margin-right: 0%;
        }
    }
  </style>
  
  <div class="row" *ngIf="productsDetailObject" style="max-height: 500px;  overflow-y: scroll;">
    <div class="col-sm-12 col-md-6 col-lg-6">
  
      <div class="xzoom-container">
        <div class="ProdImg">
          <img class="xzoom" style="width: 100%;" id="xzoom-default" [src]="selectedImage"
             alt="Loading Product Image..." />
        </div>
        <div class="xzoom-thumbs" style="margin-top:10px;"
          *ngIf="productsDetailObject && productsDetailObject.PRODUCT_IMAGE && productsDetailObject.PRODUCT_IMAGE.length > 1">
          <img *ngFor="let row of productsDetailObject.PRODUCT_IMAGE" style="cursor: pointer"
            (click)="selectedImage = row.PRODUCT_IMAGE_FILE_PATH" class="xzoom-gallery" width="80"
            src="{{row.PRODUCT_IMAGE_FILE_PATH}}" onerror="this.src='assets/images/noProductImageFound.jpg'">
        </div>
      </div>
  
  
    </div>
  
    <div class="col-sm-12 col-md-6 col-lg-6">
  
      <div class="row des mytopsec">
        <div class="col-md-12" *ngIf="productObject">
  
          <h5 style="display: none;"
            *ngIf="productObject.PRODUCT_CATEGORY_NAME != '' && productObject.PRODUCT_CATEGORY_NAME != 'undefined'">
            {{productObject.PRODUCT_CATEGORY_NAME}}</h5>
  
          <!-- Final Checklist -->
          <h6 style="display: none;" *ngIf="productObject.PRODUCT_BRAND_NAME != '' && productObject.PRODUCT_BRAND_NAME != 'undefined'
  && productObject.PRODUCT_BRAND_NAME != 'Undefined'">
            {{productObject.PRODUCT_BRAND_NAME}}</h6>
          <!-- //Final Checklist -->
  
          <div class="row mytopsec">
            <div class="col-lg-10 col-10" style="padding-left: 0;padding-right: 0">
              <h4 *ngIf="productObject.PRODUCT_NAME != '' && productObject.PRODUCT_NAME != 'undefined'">
                  {{productObject.PRODUCT_NAME}}
                  <p class="variants">
                    <ng-container *ngIf="productsDetailObject.SIZE_LABEL != 'null' && productsDetailObject.SIZE != 'null'">
                      <span>{{productsDetailObject.SIZE_LABEL}} : {{productsDetailObject.SIZE}}</span>
                    </ng-container>
                    <ng-container *ngIf="productsDetailObject.PRODUCT_COLOR_LABEL != 'null' && productsDetailObject.PRODUCT_COLOR != 'null'">
                      <span>{{productsDetailObject.PRODUCT_COLOR_LABEL}} : {{productsDetailObject.PRODUCT_COLOR}}</span>
                    </ng-container>
                    <ng-container *ngIf="productsDetailObject.MATERIAL_LABEL != 'null' && productsDetailObject.MATERIAL != 'null'">
                      <span>{{productsDetailObject.MATERIAL_LABEL}} : {{productsDetailObject.MATERIAL}}</span>
                    </ng-container>
                  </p>
              </h4>
            </div>
          </div>
  
          <div class="row productprice">
            <span class="myprice"
              style="font-size: 17px;font-weight: 500;color: #6a6a6a;font-family: Arial, Helvetica, sans-serif;">
              {{this.commonService.STORE_CURRENCY_SYMBOL}}{{this.productMidLayerService.getProductPrice(productsDetailObject)}}
            </span> &nbsp;
            <del class="mydel" style="font-size: 17px;color: #929299;font-family: Arial, Helvetica, sans-serif;"
              *ngIf="this.productMidLayerService.showScratchPrice(productsDetailObject)">
              {{this.commonService.STORE_CURRENCY_SYMBOL}}{{this.productMidLayerService.getScratchPrice(productsDetailObject)}}</del>
  
            <span style="color: #ff1744;font-size: 16px;"
              *ngIf="this.productMidLayerService.showScratchPrice(productsDetailObject)" class="discount-percentage">(
              {{this.productMidLayerService.getDicountPercentage(productsDetailObject)}})
            </span>
  
          </div>
        </div>
      </div>
  
    </div>
  </div>
  <!--row-->

  <!-- <div *ngIf="!productsDetailObject">
    No more detail available for this product.
  </div> -->
  
  <button class="btn background" (click)="closeDialogue()" style="color: #fff; float: right;">Close</button>