<div class="containerWidth">
    <div class="container">
        <mat-card class="mat-elevation-z8 mat-container">

            <mat-form-field class="full-width" appearance="outline">
                <mat-label> OTP </mat-label>
                <input matInput placeholder="Enter your otp" [type]="hideCurrentPassword ? 'password' : 'text'" [(ngModel)]="currentPassword" name="CurrentPassword" ngModel>
                <button mat-icon-button matSuffix (click)="hideCurrentPassword = !hideCurrentPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideCurrentPassword">
                    <mat-icon>{{hideCurrentPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
                <mat-label> New Password </mat-label>
                <input matInput placeholder="Enter your new passowrd" [type]="hidePasswordField1 ? 'password' : 'text'" [(ngModel)]="newPasswordField1" name="NewPasswordField1" autocomplete="off" autocomplete="none" ngModel>
                <button mat-icon-button matSuffix (click)="hidePasswordField1 = !hidePasswordField1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePasswordField1">
                    <mat-icon>{{hidePasswordField1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
                <mat-label> Re-enter New Password </mat-label>
                <input matInput placeholder="Re-Enter your new passowrd" type="text" [type]="hidePasswordField2 ? 'password' : 'text'" [(ngModel)]="newPasswordField2" name="NewPasswordField2" autocomplete="off" autocomplete="none" ngModel>
                <button mat-icon-button matSuffix (click)="hidePasswordField2 = !hidePasswordField2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePasswordField2">
                    <mat-icon>{{hidePasswordField2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <div class="buttons">
                <button class="updateBtn" [disabled]="saveButtonDisabled" (click)="savedData()"> Update </button>
                <button class="cancelBtn" (click)="skipUpdate()">
                    Cancel </button>
            </div>

            <flash-messages></flash-messages>
        </mat-card>
    </div>
</div>