.container {
    padding: 2% 0%;
    max-width: 400px;
}

.mat-container {
    padding: 2em 3em;
    background: white;
}

.full-width {
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: center;
}

.buttons button {
    color: #fff;
    padding: 5px 10px;
    margin: 0 4px;
    border-radius: 2px;
}

.buttons .updateBtn {
    background: var(--theme-color);
}

.buttons .cancelBtn {
    background: #e40505;
}

@media(max-width:786px) {
    .containerWidth {
        margin: 14px;
    }
    .container {
        padding: 0%;
    }
    .mat-container {
        padding: 2em;
        background: white;
    }
}