<div class="containerWidth">
  <div class="row">
    <mat-card class="review">
      <ul>
        <li>
          <h2>Rating & Reviews </h2>
        </li>
        <li style="float: right; width:200px;"><span>
            <p>Tera Byte Mini<br><span class="rating">3.8 <i class="fa fa-star"></i></span><span>(1425)</span></p>
          </span><span><img src="./assets/images/d1.jpg"></span></li>
      </ul>
    </mat-card>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-4 col-12">
      <div class="reviewbox">
        <h3 style="padding: 10px;">What makes a good review</h3>
        <hr>
        <h3 style="padding: 10px;">Have you used this product?</h3>
        <h5 style="padding: 10px;">Your review should be about your experience with the product.</h5>
        <hr>
        <h3 style="padding: 10px;">Why review a product?</h3>
        <h5 style="padding: 10px;">Your valuable feedback will help fellow shoppers decide!</h5>
        <hr>
        <h3 style="padding: 10px;">How to review a product?</h3>
        <h5 style="padding: 10px;">Your review should include facts. An honest opinion is always appreciated.
          If you have an issue with the product or service please contact us from the <a href="#">help centre.</a></h5>


      </div>
      <!--reviewone-->
    </div>
    <!--col-1-->
    <div class="col-md-8 col-sm-8 col-12">
      <div class="reviewbox">
        <h4 style="padding:20px; padding-bottom:0px;"><b>Rate this Product</b></h4>
        <span style="padding:20px; padding-bottom:10px;"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
            class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> Comment</span>
        <hr>
        <h4 style="padding:20px; padding-bottom:0px;"><b>Review this product</b></h4>
        <mat-form-field class="example-full-width" appearance="outline">
          <textarea matInput placeholder="Leave a comment"></textarea>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline" style="padding-top: 0px;">
          <textarea matInput placeholder="Leave a comment"></textarea>
        </mat-form-field>
        <ul>
          <li><input type="file" /> <i class="fa fa-camera"></i> </li>
          <li style="float: right; width:200px;"><button class="reviewbutton">Submit</button></li>
        </ul>


      </div>
      <!--reviewone-->
    </div>
    <!--col-2-->
  </div>
  <!--row-->
</div>