<div class="containerWidth">
  <div class="services-breadcrum" style="background:transparent">
    <div class="agile_inner_breadcrumb">
      <div class="container">
        <ul class="w3_short">
          <li style="font-size: 10px;">
            <a class="_1KHd47" routerLink='/'>Home</a>
            <i class="fa fa-angle-right left color breadcrumbIcon"></i>
          </li>
          <li>
            <a class="_1KHd48">{{quickLinkDetails.QUICK_LINK_NAME}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- about page -->
  <!-- welcome -->
  <div class="welcome">
    <div class="container">
      <!-- tittle heading -->
      <h3 class="tittle-w3l">{{quickLinkDetails.QUICK_LINK_NAME}}
        <span class="heading-style">
          <i></i>
          <i></i>
          <i></i>
        </span>
      </h3>
      <!-- //tittle heading -->
      <div class="w3l-welcome-info">
        <div class="clearfix"> </div>
      </div>
      <div class="w3l-welcome-text">
        <p [innerHTML]="quickLinkDetails.QUICK_LINK_CONTENT"> </p>
      </div>
    </div>
  </div>
  <!-- //welcome -->
  <!-- video -->

  <br>
  <!-- //video-->
  <!-- //about page -->
  <!-- //top products -->
  <!-- <div class="container">
  <div class="footban"></div>
</div> -->
</div>